*{
	margin:0;
	padding:0;
}
body{
	text-align: center;

    background-color:gray;
}
.container{
    width:280px;
    height:470px;
    background-color:white;
    margin:0 auto;
    position: relative;
}
a{
    text-decoration:none;
    color:gray;
}

#submit{
    border-radius: 16px;
    background-color: crimson;
    width: 250px;
    height: 30px;
    border:none;
    text-align: center;
    font-size: 18px;
    color:white;
    margin-top:10px;
}
img{
    width:90%;
    padding-top:10px;
}
.num{
    border:hidden;
    margin-top:20px;
    margin-bottom:5px;
    text-align:center;
}
.footer{
	width: 100%;
	background-color:white;
	color: black;
    height:30px;
    position:absolute;
    bottom:5px;
    color:lightgrey;
    font-size:12px;
}
#query{
    margin-top:17px;
    font-size:50px;
    font-weight:lighter;
    color:gray;
}
.click{
    font-size:13px;
    margin-top:5px;
}
#line{
    width:220px;
    margin:0 auto;
}